

.header-text{
  color: #fff; 
  text-align: center;
}

body{
  background: linear-gradient(0deg, rgb(13, 61, 194) 0%, rgb(13, 61, 194) 100%);
  margin: 0;
  padding: 0;
}

.spin{
  display: flex;
  justify-content: center;
  align-items: center;
}


.HealthLabelsDiv{
  border: 1px solid black;
  width: 150px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.658);
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.itemPisition{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterItemPosition{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}







